# Node modules
node_modules/

#images
uploads/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
bower_components/
jspm_packages/

# Build files
dist/
build/

# Database files
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Misc
coverage/
.cache/
.vscode/
.idea/
